.find {
  display: flex;
  justify-content: space-between;
  padding-bottom: 250px;
}

span {
  color: #f67e7e;
}

.find_right h3 {
  max-width: 445px;
}

.h1_large_title {
  max-width: 533px;
}

.find_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disk-left {
  position: absolute;
  left: 0;
}

.disk-bottom {
  position: absolute;
  bottom: 0;
  right: 120px;
}

