#footer_backround {
  background: #002529;
}

.boot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 125px;
  padding: 48px 0;
}

.boot_title {
  display: flex;
  gap: 40px;
  padding: 25px 0 0;
}

address {
  max-width: 174px;
  opacity: 0.6;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  mix-blend-mode: normal;
  color: var(--light-white);
  font-family: var(--font-family);
}

.boot_logo {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.boot_right h1 {
  padding-top: 51px;
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-family: var(--font-family);
  text-align: right;
  color: var(--light-white);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.boot_title a {
  transition: 0.3s ease-in;
}

.boot_title a:hover {
  color: var(--light-pink);
  transition: 0.3s ease-in;
}

@media (max-width: 768px) {
  .boot {
    position: relative;
    padding: 56px 40px;
  }

  .boot_left {
    padding-bottom: 32px;
  }

  .boot_center {
    position: absolute;
    top: 56px;
    right: 40px;
  }

  .btn-cssbuttons {
    position: absolute;
    bottom: -40px;
    left: -42px;
    padding: 5px 51px !important;
  }

  .boot_right h1 {
    position: absolute !important;
    bottom: 24px;
    right: 40px;
  }
}

@media (max-width: 375px) {
  .boot {
    position: static;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .boot_title {
    display: flex;
    gap: 1px !important;
  }

  .boot_left {
    padding-bottom: 0px;
  }
  address {
    margin: 0 auto;
  }

  .boot_center {
    position: static;
  }

  .btn-cssbuttons {
    padding: 5px 51px !important;
    position: static;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-right: 15px;
  }

  .boot_right {
    padding-top: 16px;
  }

  .boot_right h1 {
    text-align: center;
    padding-top: 100px;
    position: static !important;
  }
}
