#backround {
  background: #014e56;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 73px 0 129px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-right: 80px;
}

.logo a {
  padding-right: 40px;
  transition: 0.3s ease-in;
}

.logo a:hover {
  color: var(--light-pink);
  transition: 0.3s ease-in;
}

.contact .nav_btn_style:hover {
  color: var(--light-blue-hover);
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  nav {
    padding: 73px 20px 129px;
  }
}

@media (max-width: 375px) {
  .logo a {
    display: none;
  }
  .contact {
    display: none;
  }
}
