#second_backround {
  background-color: #012f34;
  position: relative;
}

.build {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 140px 0;
}

.build_right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 54px;
}

.build_left img {
  padding-bottom: 54px;
}

.build_left h1 {
  max-width: 445px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.build_box {
  display: flex;
  gap: 23px;
}

.build_box_text h1 {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: var(--font-family);
  color: #f67e7e;
}

.build_box_text p {
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-family: var(--font-family);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.second-section-disk {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .build {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 140px 20px;
  }
  .second-section-disk {
    top: 0;
  }
}

@media (max-width: 375px) {
  .second-section-disk {
    right: 0;
    top: 0;
  }
  .build_left img {
    padding-bottom: 0px;
  }

  .build {
    padding: 64px 24px;
  }

  .build_left h1 {
    padding-top: 22px;
    width: 240px;
    font-size: 32px;
    line-height: 32px;
  }

  .build_right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
  }

  .build_box img {
    margin: 0 auto;
  }

  .build_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
