.about_header{
    background: var(--primary-bg-color);
}

.about_navigation{
    padding: 73px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_left a{
    transition: .3s ease-in;
}

.about_left a:hover{
    color: var(--light-pink);
    transition: .3s ease-out;
}

.about_logo{
    margin-right: 80px;
}

.about_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@media (max-width: 450px){
    .about_list{
        display: none;
    }
    .cont{
        display: none;
    }
}